[stepper_a]
step_pin: P2.2
dir_pin: P2.6
enable_pin: !P2.1
step_distance: .0125
endstop_pin: P1.26
#position_endstop: 273.0
homing_speed: 100
#arm_length: 229.4

[stepper_b]
step_pin: P0.19
dir_pin: P0.20
enable_pin: !P2.8
step_distance: .0125
endstop_pin: P1.25
#position_endstop: 273.0
homing_speed: 100
#arm_length: 229.4

[stepper_c]
step_pin: P0.22
dir_pin: P2.11
enable_pin: !P0.21
step_distance: .0125
endstop_pin: P1.0
#position_endstop: 273.0
homing_speed: 100
#arm_length: 229.4

[extruder]
step_pin: P2.13
dir_pin: !P0.11
enable_pin: !P2.12
### Extruder ESteps ###
step_distance: .010526
### Extruder ESteps ###
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 1000
# pressure_advance: 0.05325
# max_extrude_cross_section: 1500.0
# max_extrude_only_velocity: 120
# max_extrude_only_accel: 32
min_extrude_temp: 165

#Heater
heater_pin: P2.7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.24
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114
min_temp: 0
max_temp: 280

[heater_bed]
heater_pin: P2.5
#sensor_type: ATC Semitec 104GT-2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.25
#control: watermark
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

[fan]
pin: P2.4

[heater_fan my_nozzle_fan]
pin: P2.3
heater: extruder
heater_temp: 50.0
fan_speed: 1.0


########################################
# Printer
########################################
[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1768_1520011289083DAF6FA26F5CC52000F5-if00

[printer]
kinematics: delta
max_velocity: 500
max_accel: 10000
max_z_velocity: 500
# delta_radius: 99.8
# if you want to DELTA_CALIBRATE you may need that
minimum_z_position: -5
#print_radius: 173

[delta_calibrate]
radius: 80
speed: 100
horizontal_move_z: 10

###############################################
##  BL Touch/Bed Leveling
###############################################

[bltouch]
sensor_pin: P0.10
control_pin: P2.0
x_offset: 0.0
y_offset: 20.0
#z_offset: 0.992
speed: 5.0
samples: 5
sample_retract_dist: 5.0
samples_result: average
samples_tolerance: 0.100
samples_tolerance_retries: 1

 
[bed_mesh]
speed: 45
horizontal_move_z: 10
bed_radius: 80
round_probe_count: 15
algorithm: bicubic

# mesh_pps: 2,2
# mesh_min: 15,15
# mesh_max: 192,215

########################################
# TMC2209 configuration
########################################

[tmc2209 stepper_a]
uart_pin: P1.10
microsteps: 16
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 350

[tmc2209 stepper_b]
uart_pin: P1.9
microsteps: 16
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 350

[tmc2209 stepper_c]
uart_pin: P1.8
microsteps: 16
run_current: 0.8
hold_current: 0.500
stealthchop_threshold: 350

[tmc2209 extruder]
uart_pin: P1.4
microsteps: 16
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 5


########################################
# Misc Stuff
########################################
# This adds the 'respond' G-Code that you can use to send commands back to OctoPrint
[respond]
default_type: echo

# This enables a 'force_move' command ignoring all homing, Z-stops etc. Useful in debugging.
[force_move]
enable_force_move: True

#Pause/Resume Support
[pause_resume]
recover_velocity: 50

########################################
# Screen
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=P1.30, EXP1_3=P1.18, EXP1_5=P1.20, EXP1_7=P1.22, EXP1_9=<GND>,
    EXP1_2=P0.28, EXP1_4=P1.19, EXP1_6=P1.21, EXP1_8=P1.23, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=P0.17, EXP2_3=P3.26, EXP2_5=P3.25, EXP2_7=P1.31, EXP2_9=<GND>,
    EXP2_2=P0.15, EXP2_4=P0.16, EXP2_6=P0.18, EXP2_8=<RST>, EXP2_10=<NC>
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "ssp0"

[display]
lcd_type: st7920
cs_pin: EXP1_4
sclk_pin: EXP1_5
sid_pin: EXP1_3
encoder_pins: ^EXP2_3, ^EXP2_5
click_pin: ^!EXP1_2
#kill_pin: ^!EXP2_8
#[output_pin beeper]
#pin: EXP1_1


########################################
# Beeper
########################################
[output_pin BEEPER_pin]
pin: EXP1_1
#   Beeper pin. This parameter must be provided.
#   ar37 is the default RAMPS/MKS pin.
pwm: True
#   A piezo beeper needs a PWM signal, a DC buzzer doesn't.
value: 0
#   Silent at power on, set to 1 if active low.
shutdown_value: 0
#   Disable at emergency shutdown (no PWM would be available anyway).
cycle_time: 0.001
#   PWM frequency : 0.001 = 1ms will give a base tone of 1kHz
scale: 1000
#   PWM parameter will be in the range of (0-1000 Hz).
#   Although not pitch perfect.


########################################
# Macros
########################################
# M300 : Play tone. Beeper support, as commonly found on usual LCD
# displays (i.e. RepRapDiscount 2004 Smart Controller, RepRapDiscount
# 12864 Full Graphic). This defines a custom I/O pin and a custom
# GCODE macro.  Usage:
#   M300 [P<ms>] [S<Hz>]
#   P is the tone duration, S the tone frequency.
# The frequency won't be pitch perfect.
[gcode_macro M300]
default_parameter_S: 1000
#   Use a default 1kHz tone if S is omitted.
default_parameter_P: 100
#   Use a 10ms duration is P is omitted.
gcode:
    SET_PIN PIN=BEEPER_pin VALUE={S}
    G4 P{P}
    SET_PIN PIN=BEEPER_pin VALUE=0

[gcode_macro CHIRPX]
gcode:
	STEPPER_BUZZ STEPPER=stepper_a

[gcode_macro CHIRPY]
gcode:
	STEPPER_BUZZ STEPPER=stepper_b

[gcode_macro CHIRPZ]
gcode:
	STEPPER_BUZZ STEPPER=stepper_c

[gcode_macro CHIRPE]
gcode:
	STEPPER_BUZZ STEPPER=extruder

# Calibration Step 1, Set Nozzle height from BL Touch Offset
# Move Nozzle to bed surface then raise 0.4mm
[gcode_macro CAL1]
gcode:
	G28
	probe_calibrate
	M300 P1
	M300 P1
	M300 P1
	M118 Issue command "testz z=-0.1" until nozzle is in position then "accept" "save_config"

# Calibration Step 2, Run Delta Auto Detection
[gcode_macro CAL2]
gcode:
	G28
	delta_calibrate
	M300 P1
	M300 P1
	M300 P1
	G28
	save_config

# Calibration Step 3, Run Bed Mesh Calibration
[gcode_macro CAL3]
gcode:
	G28
	bed_mesh_calibrate
	M300 P1
	M300 P1
	M300 P1
	M300 P5000
	G28
	save_config

# ESteps Calibration, Move head to maintenance position turn on heater and extrude 200mm of filament
[gcode_macro esteps]
gcode:
	G28
	G1 Y-150 Z250  F3600
	M109 S215
	G1 E200 F200
	
########################################
# Menus
########################################
[include menu.cfg]

