[stepper_x]
step_pin: P2.2
dir_pin: !P2.6
enable_pin: !P2.1
step_distance: .0125
endstop_pin: P1.29  # P1.28 for X-max
position_endstop: 0
position_max: 320
homing_speed: 50

[stepper_y]
step_pin: P0.19
dir_pin: !P0.20
enable_pin: !P2.8
step_distance: .0125
endstop_pin: P1.27  # P1.26 for Y-max
position_endstop: 0
position_max: 300
homing_speed: 50

[stepper_z]
step_pin: P0.22
dir_pin: P2.11
enable_pin: !P0.21
step_distance: .0025
endstop_pin: probe:z_virtual_endstop
position_endstop: 0.5
position_max: 400

[stepper_z1]
step_pin: P0.1
dir_pin: P0.0
enable_pin: !P0.10
step_distance: .0025

[extruder]
step_pin: P2.13
dir_pin: !P0.11
enable_pin: !P2.12
step_distance: .010526
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: P2.7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.24
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114
min_temp: 0
max_temp: 260


[heater_bed]
heater_pin: P2.5
sensor_type: ATC Semitec 104GT-2
sensor_pin: P0.23
control: watermark
min_temp: 0
max_temp: 130

[fan]
pin: P2.3

[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1768_1520011289083DAF6FA26F5CC52000F5-if00

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100


###############################################
##  Probing/Mesh
###############################################

[bltouch]
sensor_pin: P1.25
control_pin: P2.0
pin_move_time: 0.250
pin_up_reports_not_triggered: False
pin_up_touch_mode_reports_triggered: False
x_offset: -43
y_offset: -16.5
z_offset: 1
pin_move_time: 1.0

 
[bed_mesh]
min_point: 5, 5
max_point: 185,200
probe_count: 5,5
mesh_min: 15,15
mesh_max: 192,215

[safe_z_home]
home_xy_position: 155,120
speed: 80.0
z_hop: 10.0
z_hop_speed: 10.0

########################################
# TMC2209 configuration
########################################

# For TMC2209 UART
#   1) Remove all of the jumpers below the stepper drivers
#   2) Place jumpers on the red pin headers labeled XUART (XUART, YUART etc.)

[tmc2209 stepper_x]
uart_pin: P1.17
microsteps: 16
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 250

[tmc2209 stepper_y]
uart_pin: P1.15
microsteps: 16
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 250

[tmc2209 stepper_z]
uart_pin: P1.10
microsteps: 16
run_current: 0.650
hold_current: 0.450
stealthchop_threshold: 30

[tmc2209 stepper_z1]
uart_pin: P1.1
microsteps: 16
run_current: 0.650
hold_current: 0.450
stealthchop_threshold: 30

[tmc2209 extruder]
uart_pin: P1.8
microsteps: 16
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 5



########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=P1.30, EXP1_3=P1.18, EXP1_5=P1.20, EXP1_7=P1.22, EXP1_9=<GND>,
    EXP1_2=P0.28, EXP1_4=P1.19, EXP1_6=P1.21, EXP1_8=P1.23, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=P0.17, EXP2_3=P3.26, EXP2_5=P3.25, EXP2_7=P1.31, EXP2_9=<GND>,
    EXP2_2=P0.15, EXP2_4=P0.16, EXP2_6=P0.18, EXP2_8=<RST>, EXP2_10=<NC>
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "ssp0"

# See the sample-lcd.cfg file for definitions of common LCD displays.
