[include kiauh_macros.cfg]
[include mag-probe.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_40002D000F50563046363120-if00

[pause_resume]

[display_status]

[virtual_sdcard]
path: ~/gcode_files

[printer]
kinematics: corexy
max_velocity: 400
max_accel: 4600
max_z_velocity: 15
max_z_accel: 300
square_corner_velocity: 5.0

# [safe_z_home]
# ##  XY Location of the Z Endstop Switch
# ##  Update -10,-10 to the XY coordinates of your endstop pin 
# ##  (such as 157,305) after going through Z Endstop Pin
# ##  Location Definition step.
# home_xy_position: 175,175
# speed:200
# z_hop:10


# [mcu rpi]
# serial: /tmp/klipper_host_mcu

# [adxl345]
# cs_pin: rpi:None

# [resonance_tester]
# accel_chip: adxl345
# probe_points:
#     165,165,20  # an example

[homing_override]
axes: z
set_position_z: 0
gcode:
  G90

  #home X & Y
  G0 Z5 F600
  G28 F5000 X
  G28 F2000 Y

  grab_probe
  G28 Z
  G0 Z20
  return_probe




[firmware_retraction]
retract_length: 0.65
retract_speed: 40
unretract_extra_length: 0
unretract_speed: 40

#####################################################################
#   Neopixel LED
#####################################################################

[neopixel chamber_light]
#	To control Neopixel RGB light in chamber
pin: PD3
chain_count: 76
initial_RED: 1
initial_GREEN: 1
initial_BLUE: 1
color_order: RGB

# # 	Set RGB values on boot up for each Neopixel. 
# # 	Index 1 = display, Index 2 and 3 = Knob
# [delayed_gcode setdisplayneopixel]
# initial_duration: 1
# gcode:
#         SET_LED LED=chamber_light RED=1 GREEN=1 BLUE=1 INDEX=1 TRANSMIT=0
#         SET_LED LED=chamber_light RED=1 GREEN=0 BLUE=0 INDEX=2 TRANSMIT=0
#         SET_LED LED=chamber_light RED=1 GREEN=0 BLUE=0 INDEX=3 

#####################################################################
#   Mesh Bed Leveling
#####################################################################

[bed_mesh]
speed: 200
horizontal_move_z: 10
mesh_min: 20,33
mesh_max: 330,315
probe_count: 7,7
mesh_pps: 3,3
algorithm: bicubic
bicubic_tension: 0.2

[gcode_macro G29]
gcode:
  grab_probe
  bed_mesh_calibrate
  return_probe

[input_shaper]
shaper_freq_x: 86.0
shaper_type_x: 3hump_ei
shaper_freq_y: 39.6
shaper_type_y: mzv


#####################################################################
#   Probe
#####################################################################

[probe]
##	Inductive Probe - If you use this section , please comment the [bltouch] section
##	This probe is not used for Z height, only Quad Gantry Leveling
##	In Z+ position
##	If your probe is NC instead of NO, add change pin to ^PA3
pin: ^PA3
x_offset: -1
y_offset: 32.95
#z_offset: 8
speed: 12
samples: 3
samples_result: median
sample_retract_dist: 1.5
samples_tolerance: 0.02
samples_tolerance_retries: 5


#####################################################################
#   X/Y Stepper Settings
#####################################################################

[stepper_x]
##	Connected to X-MOT (B Motor)
step_pin: PE11
dir_pin: !PE10
enable_pin: !PE9
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200  #set to 400 for 0.9 degree stepper
endstop_pin: ^PA1
position_min: 0
##--------------------------------------------------------------------

##  Uncomment below for 250mm build
#position_endstop: 250
#position_max: 250

##  Uncomment for 300mm build
# position_endstop: 300
# position_max: 300

##  Uncomment for 350mm build
position_endstop: 347
position_max: 347

##--------------------------------------------------------------------
homing_speed: 80   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_x]
uart_pin: PE7
interpolate: True
run_current: 0.7
hold_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_y]
##	Connected to Y-MOT (A Motor)
step_pin: PD8
dir_pin: !PB12
enable_pin: !PD9
rotation_distance: 40
microsteps: 16
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: ^PA2
position_min: 0
##--------------------------------------------------------------------

##  Uncomment for 250mm build
#position_endstop: 250
#position_max: 250

##  Uncomment for 300mm build
# position_endstop: 300
# position_max: 300

##  Uncomment for 350mm build
position_endstop: 350
position_max: 350

##--------------------------------------------------------------------
homing_speed: 80  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_y]
uart_pin: PE15
interpolate: True
run_current: 0.7
hold_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 0
 
#####################################################################
#   Z Stepper Settings
#####################################################################

## In Z-MOT Position
## Z0 Stepper - Front Left
[stepper_z]
step_pin: PD14
dir_pin: !PD13
enable_pin: !PD15
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16
##  In Z- Position
endstop_pin: probe:z_virtual_endstop#^PA0
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##  Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
#position_endstop: 0.31
##--------------------------------------------------------------------

##	Uncomment below for 250mm build
#position_max: 240

##	Uncomment below for 300mm build
#position_max: 290

##	Uncomment below for 350mm build
position_max: 340

##--------------------------------------------------------------------
position_min: -10
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z]
uart_pin: PD10
uart_address: 0
interpolate: True
run_current: 0.7
hold_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 0

##	In E1-MOT Position
##	Z1 Stepper - Rear Left
[stepper_z1]
step_pin: PE6
dir_pin: PC13
enable_pin: !PE5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16


##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z1]
uart_pin: PC14
interpolate: True
run_current: 0.7
hold_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 0

##	In E2-MOT Position
##	Z2 Stepper - Rear Right
[stepper_z2]
step_pin: PE2
dir_pin: PE4
enable_pin: !PE3
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z2]
uart_pin: PC15
interpolate: true
run_current: 0.7
hold_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 0

##	In E3-MOT Position
##	Z3 Stepper - Front Right
[stepper_z3]
step_pin: PD12
dir_pin: PC4
enable_pin: !PE8
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z3]
uart_pin: PA15
interpolate: true
run_current: 0.7
hold_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
#   Extruder
#####################################################################

##	In E0-MOT Position
[extruder]
step_pin: PD5
dir_pin: PD6
enable_pin: !PD4

##  Update value below when you perform extruder calibration
##  If you ask for 100mm of filament, but in reality it is 98mm:
##  rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.6789511 is a good starting point
rotation_distance: 22.67
##  Update Gear Ratio depending on your Extruder Type
##  Use 50:17 for Afterburner/Clockwork (BMG Gear Ratio)
##  Use 80:20 for M4, M3.1
gear_ratio: 50:10               #BMG Gear Ratio
microsteps: 16
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: PB15
##  Validate the following thermistor type to make sure it is correct
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC0
min_temp: 10
max_temp: 270
max_power: 1.0
min_extrude_temp: 170
max_extrude_cross_section: 1000

## PID Tuning

# no cooling
#pid_Kp=32.016 pid_Ki=2.924 pid_Kd=87.643

# with cooling
#pid_Kp=35.838 pid_Ki=3.229 pid_Kd=99.450

#control = pid
#pid_Kp=35.838
#pid_Ki=3.229
#pid_Kd=99.450

##  Try to keep pressure_advance below 1.0
pressure_advance: 0.047
##  Default is 0.040, leave stock
pressure_advance_smooth_time: 0.040

##  E0 on MCU X/Y
##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 extruder]
uart_pin: PD7
interpolate: false
run_current: 0.3
hold_current: 0.2
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
##	SSR Pin - In BED OUT position
heater_pin: PB4
sensor_type: NTC 100K beta 3950
sensor_pin: PC3 # TB Position
##	Adjust Max Power so your heater doesn't warp your bed
max_power: 0.7
min_temp: 0
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769


# [temperature_sensor top_bed]
# gcode_id: TB
# sensor_type: NTC 100K beta 3950
# sensor_pin: P0.25
# min_temp: 0
# max_temp: 120



#####################################################################
#   Fan Control
#####################################################################

[heater_fan hotend_fan]
##	Hotend Fan - FAN0 Connector
pin: PB0
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##	If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

[fan]
##	Print Cooling Fan - FAN1 Connector
pin: PB1
# max_power: 0.4
kick_start_time: 0.5
##	Depending on your fan, you may need to increase this value
##	if your fan will not start. Can change cycle_time (increase)
##	if your fan is not able to slow down effectively
off_below: 0.10

[heater_fan controller_fan]
##	Controller fan - FAN2 Connector
pin: PB2
kick_start_time: 0.5
heater: heater_bed
heater_temp: 45.0

# [controller_fan exhaust_fan]
# ##  Exhaust fan - Z board, HE0 Connector
# pin: z:P2.7
# max_power: 1.0
# shutdown_speed: 0.0
# kick_start_time: 1.0
# heater: heater_bed
# idle_timeout: 0
# fan_speed: 1.0


[idle_timeout]
timeout: 600
gcode:
  SET_LED LED=chamber_light RED=0 GREEN=0 BLUE=0




[quad_gantry_level]
##	Use QUAD_GANTRY_LEVEL to level a gantry.
##	Min & Max gantry corners - measure from nozzle at MIN (0,0) and 
##	MAX (250, 250), (300,300), or (350,350) depending on your printer size
##	to respective belt positions

#--------------------------------------------------------------------
##	Gantry Corners for 250mm Build
##	Uncomment for 250mm build
#gantry_corners:
#	-60,-10
#	310, 320
##	Probe points
#points:
#	50,25
#	50,175
#	200,175
#	200,25
	
##	Gantry Corners for 300mm Build
##	Uncomment for 300mm build
#gantry_corners:
#	-60,-10
#	360,370
##	Probe points
#points:
#	50,25
#	50,225
#	250,225
#	250,25

##	Gantry Corners for 350mm Build
##	Uncomment for 350mm build
gantry_corners:
	-60,-10
	410,420
#	Probe points
points:
	20,0
	20,300
	330,300
	330,0

#--------------------------------------------------------------------
speed: 230
horizontal_move_z: 12
retries: 5
retry_tolerance: 0.02
max_adjust: 10

#####################################################################
#   Displays
#####################################################################

##  Uncomment the display that you have. Display connects to Z MCU
#--------------------------------------------------------------------

#[output_pin beeper]
#pin: z:P1.30

#--------------------------------------------------------------------

[display]
#	mini12864 LCD Display
lcd_type: uc1701
cs_pin: PC11
a0_pin: PD2
rst_pin: PC10
encoder_pins: ^PC6,^PC7
click_pin: ^!PA8
contrast: 63
#spi_bus: spi1
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
spi_software_sclk_pin: PA5

[neopixel fysetc_mini12864]
#	To control Neopixel RGB in mini12864 display
pin: PC12
chain_count: 3
initial_RED: 1
initial_GREEN: 1
initial_BLUE: 1
color_order: RGB

#	Set RGB values on boot up for each Neopixel. 
#	Index 1 = display, Index 2 and 3 = Knob
[delayed_gcode setdisplayneopixel]
initial_duration: 1
gcode:
        SET_LED LED=fysetc_mini12864 RED=1 GREEN=1 BLUE=1 INDEX=1 TRANSMIT=0
        SET_LED LED=fysetc_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=2 TRANSMIT=0
        SET_LED LED=fysetc_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=3 

#--------------------------------------------------------------------

# https://github.com/Klipper3d/klipper/blob/master/docs/Config_Reference.md#z_tilt
# [z_tilt]
# z_positions:
#   -50,165
#   350,165
# points: 
#   50,165
#   315,165
# speed: 150
# horizontal_move_z: 15
# retries: 3
# retry_tolerance: 0.05


# [screws_tilt_adjust]
# screw1: 40,40
# screw1_name: front left
# screw2: 330,40
# screw2_name: front right
# screw3: 330,330
# screw3_name: back right
# screw4: 40,330
# screw4_name: back left
# speed: 150
# screw_thread: CCW-M4

# [gcode_macro G34]
# gcode:
#     G28
#     z_tilt_adjust



# [gcode_macro PRINT_START]
# #   Use PRINT_START for the slicer starting script - please customize for your slicer of choice
# gcode:
#     G28                            ; home all axes
#     Quad_gantry_level              ; 
#     G29                            ; bed mesh calibrate
#     G1 F5000 X0 Y0 Z20.            ; move nozzle away from bed
   
[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customize for your slicer of choice
gcode:
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-4.0 F3600                 ; retract filament
    G91                            ; relative positioning

    #   Get Boundaries
    {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}

    #   Check end position to determine safe direction to move
    {% if printer.toolhead.position.x < (max_x - 20) %}
        {% set x_safe = 20.0 %}
    {% else %}
        {% set x_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.y < (max_y - 20) %}
        {% set y_safe = 20.0 %}
    {% else %}
        {% set y_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.z < (max_z - 2) %}
        {% set z_safe = 2.0 %}
    {% else %}
        {% set z_safe = max_z - printer.toolhead.position.z %}
    {% endif %}

    G0 Z{z_safe} F3600             ; move nozzle up
    G0 X{x_safe} Y{y_safe} F20000  ; move nozzle to remove stringing
    TURN_OFF_HEATERS
    M107                           ; turn off fan
    G90                            ; absolute positioning
    G0 X60 Y{max_y} F3600          ; park nozzle at rear
	
[gcode_macro LOAD_FILAMENT]
gcode:
   M83                            ; set extruder to relative
   G1 E40 F300                    ; load
   G1 E40 F300                    ; load
   G1 E10 F150                    ; prime nozzle with filament
   M82                            ; set extruder to absolute
    
[gcode_macro UNLOAD_FILAMENT]
gcode:
   M83                            ; set extruder to relative
   G92 E0
   G1 E10 F300                    ; extrude a little to soften tip
   G1 E-40 F1800                  ; retract some, but not too much or it will jam
   G1 E-40 F1800                  ; retract some, but not too much or it will jam
   G1 E-40 F1800                  ; retract some, but not too much or it will jam
   M82                            ; set extruder to absolute

# Sensor Types
#   "EPCOS 100K B57560G104F"
#   "ATC Semitec 104GT-2"
#   "NTC 100K beta 3950" (Keenovo Heater Pad)
#   "Honeywell 100K 135-104LAG-J01"
#   "NTC 100K MGB18-104F39050L32"
#   "AD595"
#   "PT100 INA826"

[gcode_macro M204]
rename_existing: M204.1
gcode:
  {% set f = params.F|default(0.5)|float %}

  {% if 'S' in params %}
    {% set s = params.S|float %}
    SET_VELOCITY_LIMIT ACCEL={s} ACCEL_TO_DECEL={ s * f }
  {% else %}
    {% if 'P' in params %}
      {% set p = params.P|float %}
      {% if 'T' in params %}
        {% set t = params.T|float %}
        {% if p < t %}
          SET_VELOCITY_LIMIT ACCEL={p} ACCEL_TO_DECEL={ p * f }
        {% else %}
          SET_VELOCITY_LIMIT ACCEL={t} ACCEL_TO_DECEL={ t * f }
        {% endif %}
      {% else %}
        SET_VELOCITY_LIMIT ACCEL={p} ACCEL_TO_DECEL={ p * f }
      {% endif %}
    {% elif 'T' in params %}
      {% set t = params.T|float %}
      SET_VELOCITY_LIMIT ACCEL={t} ACCEL_TO_DECEL={ t * f }
    {% endif %}
  {% endif %}

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 25.075
#*# pid_ki = 1.203
#*# pid_kd = 130.703
#*#
#*# [stepper_z]
#*# position_endstop = 0.870
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 41.155
#*# pid_ki = 1.782
#*# pid_kd = 237.672
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.174335, -0.079335, -0.039335, 0.015665, -0.016835, -0.046835, -0.179335
#*# 	-0.141835, -0.106835, -0.019335, -0.001835, 0.015665, -0.076835, -0.131835
#*# 	-0.221835, -0.101835, -0.034335, 0.003165, -0.001835, -0.036835, -0.131835
#*# 	-0.134335, -0.039335, 0.023165, 0.018165, 0.003165, -0.024335, -0.096835
#*# 	-0.144335, -0.024335, 0.010665, 0.068165, -0.006835, -0.034335, -0.051835
#*# 	-0.089335, -0.109335, -0.026835, -0.016835, -0.071835, -0.111835, -0.129335
#*# 	-0.166835, -0.129335, -0.066835, -0.036835, -0.144335, -0.151835, -0.194335
#*# tension = 0.2
#*# min_x = 20.0
#*# algo = bicubic
#*# y_count = 7
#*# mesh_y_pps = 3
#*# min_y = 33.0
#*# x_count = 7
#*# max_y = 315.0
#*# mesh_x_pps = 3
#*# max_x = 329.96
#*#
#*# [probe]
#*# z_offset = 3.96
